{{#> base}}
  {{> header}}
  {{> nav}}
  {{> hero}}
  <main>
    <h1 class="titulo-portada">MEOWRAWR - Un experimento sobre felinos e internet</h1>
    {{> slider}}
  </main>
  {{> contact-section}}
  {{> boost}}
  {{> prefooter}}
  {{> footer}}
{{/base}}
