<section class="static-page aviso-legal">
  <h1>Aviso Legal</h1>
  <p>
    La presente página web, con dirección URL
    <a href="https://www.oferplan.com">https://www.oferplan.com</a>
    (<b>“Sitio Web”</b>), es operada por la sociedad VOCENTO GESTIÓN DE MEDIOS Y
    SERVICIOS, S.L.U. (<b>“Sociedad”</b>), con C.I.F. núm. B82462813, inscrita
    en el Registro Mercantil de Madrid, al Tomo 14659, Folio 187, Sección 8ª,
    Hoja M-243.041, Inscripción 1ª, cuyo domicilio se encuentra en Madrid
    (28027) C/ Josefa Valcárcel 40 BIS. Puede obtener más información remitiendo
    un correo a la siguiente dirección de correo electrónico de contacto
    <a href="mailto:info@oferplan.com">info@oferplan.com</a>.<br /><br />
    Copyright © OFERPLAN. El Sitio Web incluye contenidos de Sociedad, del medio
    OFERPLAN (<b>“Medio”</b>) y, en su caso, de terceros y/o de otras empresas
    del grupo de la empresa del cual forma parte la Sociedad.<br /><br />
    Las relaciones establecidas entre la Sociedad y los Usuarios como
    consecuencia de la utilización a los servicios que se prestan a través del
    Sitio Web, se regirán por lo dispuesto en la normativa española vigente en
    relación con la legislación aplicable y la jurisdicción competente. No
    obstante, para los supuestos en los que la normativa vigente prevea que las
    partes pueden someterse a fuero determinado, la Sociedad y los Usuarios, con
    renuncia expresa a cualquier otro fuero que pudiera corresponderles, se
    somete a la jurisdicción de los Juzgados y Tribunales de la ciudad de
    Madrid.
  </p>
</section>
