<!DOCTYPE html>
<html lang="es">
<head>
  {{> head}}
  <!-- Styles -->
  {{#> styles}}{{/styles}}
</head>
<body>
  {{> @partial-block}}
  <!-- Scripts -->
  {{> scripts}}
</body>
</html>
