<section id="boost" class="boost">
  <div class="boost-wrapper">
    <div class="boost-header">
      <div class="boost-header-img">
        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150'%3E%3Crect width='150' height='150' fill='white'/%3E%3C/svg%3E" alt="placeholder" />
      </div>
      <div class="boost-header-txt">
        <p class="boost-header-title">Descubre el fascinante mundo de los felinos</p>
        <span class="boost-header-subtitle">Aprende sobre las 41 especies reconocidas de felinos</span>
        <button><a href="#">SABER MÁS</a></button>
      </div>
    </div>
    <p class="question">¿Quieres conocer a los felinos más increíbles?</p>
    <div class="boost-list">
      <div class="boost-list-item">
        <div class="boost-list-item-img-container">
          <img class="boost-list-item-img" src="../assets/images/img4.jpg" alt=""/>
        </div>
        <span class="boost-list-item-txt">El Spa al que<br>todos quieren ir</span>
        <div class="boost-list-item-bg"></div>
      </div>
      <div class="boost-list-item">
        <div class="boost-list-item-img-container">
          <img class="boost-list-item-img" src="../assets/images/img5.jpg" alt=""/>
        </div>
        <span class="boost-list-item-txt">Naranjas que llegan a<br>cada vez más mesas</span>
        <div class="boost-list-item-bg"></div>
      </div>
      <div class="boost-list-item">
        <div class="boost-list-item-img-container">
          <img class="boost-list-item-img" src="../assets/images/img6.jpg" alt=""/>
        </div>
        <span class="boost-list-item-txt">Un cine con muuuchas<br>palomitas</span>
        <div class="boost-list-item-bg"></div>
      </div>
    </div>
  </div>
</section>
