<section class="static-page condiciones-uso">
  <!--1st-section-->
  <section>
    <h1 class="static-page-title">Condiciones de uso</h1>
    <ul class="static-page-list">
      <li>ÍNDICE</li>
      <li>1. Quienes somos.</li>
      <li>2. Qué regulan las Condiciones.</li>
      <li>3. Información previa para el acceso a los servicios del Sitio Web.</li>
      <li>4. Características generales de los servicios.</li>
      <li>5. Cómo debe usarse el Sitio Web.</li>
      <li>6. Formas de participación en el Sitio Web.</li>
      <li>7. Propiedad Intelectual e Industrial.</li>
      <li>8. Política de enlaces.</li>
      <li>9. Protección de datos de carácter personal y política de cookies.</li>
      <li>10. Qué puedes hacer si detectas contenidos ilícitos o no adecuados.</li>
      <li>11. Responsabilidades.</li>
      <li>12. Varios</li>
    </ul>
  </section>
  <!--2nd-section-->
  <section>
    <h2 class="static-page-subtitle">1. Quiénes somos</h2>
    <p class="static-page-p">La presente página web (“Sitio Web”), tiene
      dirección URL http://www.oferplan.com y es operada por la sociedad VOCENTO
      GESTIÓN DE MEDIOS Y SERVICIOS, S.L.U. (“Sociedad”), identificados el Sitio
      Web y la Sociedad con los datos que puedes encontrar en el Aviso Legal.</p>
    <div class="tabulation">
      <h3><span class="dot">•</span> En relación con los menores</h3>
      <ul class="static-page-list">
        <li>En relación con la navegación en el Sitio Web por menores, a salvo
          de lo indicado en los párrafos anteriores, los Usuarios quedáis
          advertidos que la Sociedad no puede controlar, aparte de otras
          circunstancias, que menores de edad hagan uso del Sitio Web y de sus
          servicios. Por ello, además de no admitir el Sitio Web, la Sociedad ni
          su Grupo empresarial responsabilidad alguna al respecto, se comunica
          que serán los padres y tutores los únicos responsables de controlar y
          asistir a los menores en la navegación por este Sitio Web y habilitar
          cualesquiera otros mecanismos necesarios que, en su caso, impidan el
          acceso por parte de los menores al Sitio Web y/o sus servicios, no
          admitiendo la Sociedad ninguna reclamación al respecto.</li>
        <li>I) Remitir publicidad de cualquier clase y comunicaciones con fines
          de venta u otras de naturaleza comercial al Sitio Web, o a una
          pluralidad de personas usuarias del Sitio Web sin que medie su previa
          solicitud o consentimiento.</li>
        <li>II) Remitir cualesquiera otros mensajes no solicitados, ni
          consentidos previamente a una pluralidad de personas usuarias del
          Sitio Web.</li>
      </ul>
    </div>
  </section>
  <!--3rd-section-->
  <section>
    <h2 class="static-page-subtitle">8. Política de enlaces</h2>
    <h3>Enlaces a otros sitios web.</h3>
    <p class="static-page-p">En el Sitio Web se podrían incluir enlaces a sitios
      controlados por terceros. El Usuario debe recordar que al usar un enlace
      para acceder desde el Sitio Web a otro, dejarán de surtir efectos la
      Política de Privacidad y la Política de Cookies del Sitio Web. La Política
      de Privacidad del Sitio Web no refleja las prácticas en materia de
      privacidad de esos otros sitios de terceros. De conformidad con lo
      establecido en el artículo 17 de la LSSI, la Sociedad declina, salvo que
      tenga “conocimiento efectivo” de la comisión de un hecho ilícito o de que
      se lesionan bienes o derechos de un tercero susceptible de indemnización,
      cualquier tipo de responsabilidad con respecto a la privacidad y el
      tratamiento de datos de otros sitios web. La navegación e interacción en
      cualquier otro sitio web, incluidos aquellos que estén enlazados con el
      Sitio Web, está sujeta a las normas y políticas de dicho sitio.
      Recomendamos al Usuario que lea las políticas de tratamiento de datos y
      privacidad de los sitios web que visite a través del enlace existente en
      el Sitio Web o de cualquier otro modo.</p>
    <div class="tabulation">
      <ul class="static-page-list">
        <li>- El enlace se podrá dirigir a la página principal del Sitio Web.</li>
        <li>- El enlace debe ser absoluto y completo, es decir, debe llevar al
          Usuario, mediante un clic, a la propia dirección URL del Sitio Web
          abarcando toda la extensión de la pantalla del Sitio Web. En ningún
          caso, salvo que la Sociedad lo autorice de manera expresa y por
          escrito, el sitio web que realiza el enlace podrá reproducir, de
          cualquier manera, el Sitio Web, incluirlo como parte de su web o
          dentro de uno de sus “frames” o crear un “browser” sobre cualquiera de
          las páginas del Sitio Web. En la página que establece el enlace no se
          podrá declarar que la Sociedad ha autorizado tal enlace, salvo que así
          lo haya autorizado expresamente y por escrito la Sociedad. Si la
          entidad que realiza el enlace desde su página al Sitio Web deseara
          incluir en su página web la marca, denominación, nombre comercial,
          rótulo, logotipo, slogan o cualquier otro tipo de elemento
          identificativo de la Sociedad y/o del Sitio Web, deberá contar
          previamente con su autorización expresa y por escrito.</li>
      </ul>
    </div>
  </section>

</section>
