<footer>
  <div class="footer-wrapper">
    <div class="footer-logos-desktop">
      <img class="logo-meowrawr" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='50'%3E%3Crect width='150' height='50' fill='white'/%3E%3C/svg%3E" alt="logo-meowrawr" />
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="/felinos/">Todos los felinos</a>|</li>
        <li><a href="/listado/">Listado</a>|</li>
        <li><a href="/contact/">Contacto</a>|</li>
        <li><a href="/aviso-legal/">Aviso legal</a>|</li>
        <li><a href="/condiciones-uso/">Condiciones de uso</a>|</li>
        <li><a href="/gracias/">Gracias</a></li>
      </ul>
    </div>
    <div class="footer-logos-mobile">
      <img class="logo-meowrawr" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='50'%3E%3Crect width='150' height='50' fill='white'/%3E%3C/svg%3E" alt="logo-meowrawr" />
    </div>
  </div>
</footer>
