<div class="contact">
  <div class="gracias">
    <div class="gracias-txt">
      <h3>Gracias</h3>
      <p>Hemos recibido tu mensaje, en breve nos pondremos en contacto contigo</p>
      <img src="../assets/images/tick.svg" alt="tick" />
    </div>
    <div class="gracias-btn">
      <button>VER OFERTAS</button>
    </div>
  </div>
</div>
