<header>
  <div class="header-logo">
    <a href="#">
      <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='60'%3E%3Crect width='200' height='60' fill='white'/%3E%3C/svg%3E" alt="logo-meowrawr">
    </a>
  </div>
  <div class="header-search-desktop">
    <input class="search-input" type="text" placeholder="Busca tu felino"/>
    <img class="clear-icon" src="../assets/images/cross.svg" alt="clear icon cross desktop">
  </div>
  <div class="header-plus">
    <img class="header-plus-img" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80'%3E%3Crect width='80' height='80' fill='white'/%3E%3C/svg%3E" alt="placeholder" />
    <div class="header-plus-txt">
      <label>Descubre el mundo<br />de los felinos</label>
      <button class="header-plus-btn">
        <a href="#">SABER MÁS</a>
      </button>
    </div>
  </div>
  <div class="header-search-mobile">
    <input class="search-input" type="text" placeholder="Busca tu felino"/>
    <img class="clear-icon" src="../assets/images/cross.svg" alt="clear icon cross mobile">
  </div>
</header>
