<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Browsers - Theme Colors-->
<meta name="theme-color" content="#BBEAFF">
<meta name="msapplication-navbutton-color" content="#BBEAFF">
<meta name="apple-mobile-web-app-status-bar-style" content="#BBEAFF">
<!--Favicon-->
<link rel="icon" type="image/png" href="../assets/images/favicon.png">
<!--Title-->
<title>Meowrawr</title>
<!--Meta Description-->
<meta name="description" content="Meowrawr - Enciclopedia Felina">
