<nav class="main-nav">
  <ul class="main-nav-ul">
    <li class="main-nav-ul-li"><a href="#">OFERTAS DESTACADAS</a></li>
    <li class="main-nav-ul-li"><a href="#">PRODUCTO</a></li>
    <li class="main-nav-ul-li"><a href="#">FORMACIÓN</a></li>
    <li class="main-nav-ul-li"><a href="#">CERCA DE TI</a></li>
  </ul>
</nav>
