<section class="prefooter">
  <nav class="prefooter-wrapper">
    <ul class="prefooter-list">
      <li class="prefooter-list-item"><h3 class="prefooter-title">Familias de Felinos</h3></li>
      <li class="prefooter-list-item"><a href="#">Panthera</a></li>
      <li class="prefooter-list-item"><a href="#">Felis</a></li>
      <li class="prefooter-list-item"><a href="#">Lynx</a></li>
      <li class="prefooter-list-item"><a href="#">Puma</a></li>
      <li class="prefooter-list-item"><a href="#">Acinonyx</a></li>
      <li class="prefooter-list-item"><a href="#">Leopardus</a></li>
      <li class="prefooter-list-item"><a href="#">Prionailurus</a></li>
    </ul>
  </nav>
</section>
