<!--publi-slider-1-->
<div class="publi">
  <div class="publi-1">
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/size-01.svg" alt="image alt" />
          </div>
          <div class="slide-image-mobile">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!--publi-slider-2-->
<div class="publi">
  <div class="publi-2">
    <div id="glider-publi-2" class="glider glider-publi-2">
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
          <div class="slide-image-mobile">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
        </a>
      </div>
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
          <div class="slide-image-mobile">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
        </a>
      </div>
    </div>
    <!--dots-->
    <div id="glider-publi-2-dots" class="dots"></div>
    <!--end-dots-->
  </div>
</div>

<!--publi-slider-3-->
<div class="publi">
  <div class="publi-3">
    <div id="glider-publi-3" class="glider glider-publi-3">
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/size-03.svg" alt="image alt" />
          </div>
          <div class="slide-image-mobile">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
        </a>
      </div>
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/size-03.svg" alt="image alt" />
          </div>
          <div class="slide-image-mobile">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
        </a>
      </div>
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/size-03.svg" alt="image alt" />
          </div>
          <div class="slide-image-mobile">
            <img src="../assets/images/size-02.svg" alt="image alt" />
          </div>
        </a>
      </div>
    </div>
    <!--dots-->
    <div id="glider-publi-3-dots" class="dots"></div>
    <!--end-dots-->
  </div>
</div>
