<!--slider-1-->
<div class="slider slider-1">
  <div id="slider-header-1" class="slider-header">
    <div id="slider-header-title-1" class="slider-header-title">
      <h2 class="titulo-slider"><a href="#">El Norte de Castilla</a></h2>
    </div>
    <div class="slider-header-download">
      <a href="#">
        <img
          class="header-go-app"
          src="../assets/images/go-app.svg"
          alt="go app"
        />
        <img
          class="header-img-app"
          src="../assets/images/img-app.png"
          alt="image app"
        />
        <span>DESCÁRGATE LA APP</span>
      </a>
    </div>
    <div class="slider-header-cities">
      <ul>
        <li><a href="#">Valladolid</a> |</li>
        <li><a href="#">Tordesillas</a> |</li>
        <li><a href="#">Palencia</a> |</li>
        <li><a href="#">Segovia</a> |</li>
        <li><a href="#">Aranda de Duero</a></li>
      </ul>
    </div>
  </div>

  <div class="slider-main">
    <div id="glider-1" class="glider">
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img1.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img2.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar. Un restaurante ejemplar.</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930 - Asturias - España (Spain)</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img3.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno de un prestigioso chef.</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b></span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img4.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno.</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img5.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno de un prestigioso chef</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img6.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar...</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide more">
        <a href="#">
          <div class="slide-image">
            <img
              src="../assets/images/icon-mas-ofertas.svg"
              alt="icon more offers"
            />
          </div>
          <div class="slide-content">
            <div class="slide-txt">
              <p>VER MÁS OFERTAS</p>
            </div>
          </div>
        </a>
      </div>
      <!--end-slide-->
    </div>
    <!--controls-->
    <div id="glider-arrows-1" class="glider-arrows">
      <div id="prev-1" class="prev"></div>
      <div id="next-1" class="next"></div>
    </div>
    <!--end-controls-->
  </div>
</div>

<!--slider-2-->
<div class="slider slider-2">
  <div id="slider-header-2" class="slider-header">
    <div id="slider-header-title-2" class="slider-header-title">
      <h2 class="titulo-slider"><a href="#">Correo</a></h2>
    </div>
    <div class="slider-header-download">
      <a href="#">
        <img
          class="header-go-app"
          src="../assets/images/go-app.svg"
          alt="go app"
        />
        <img
          class="header-img-app"
          src="../assets/images/img-app.png"
          alt="image app"
        />
        <span>DESCÁRGATE LA APP</span>
      </a>
    </div>
    <div id="slider-header-2" class="slider-header-cities">
      <ul>
        <li><a href="#">Bizkaia</a> |</li>
        <li><a href="#">Bilbao</a> |</li>
        <li><a href="#">Barakaldo</a> |</li>
        <li><a href="#">Portugalete</a> |</li>
        <li><a href="#">Getxo</a> |</li>
        <li><a href="#">Durango</a></li>
      </ul>
    </div>
  </div>

  <div class="slider-main">
    <div id="glider-2" class="glider">
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img6.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar...</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img5.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar...</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img4.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar...</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img3.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar...</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img2.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar...</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide">
        <a href="#">
          <div class="slide-image">
            <img src="../assets/images/img1.jpg" alt="image alt" />
          </div>
          <div class="slide-content">
            <div class="slide-ofer">
              <span class="disc">40%</span>
              <span class="orig-price">|<div
                  class="line-through"
                >64,95€</div>|</span>
              <span class="disc-price">39€</span>
            </div>
            <div class="slide-txt">
              <h3>Castillo del Bosque: Menú de invierno del prestigioso chef
                Isaac Salazar.</h3>
              <div class="location">
                <img src="../assets/images/location.svg" alt="location icon" />
                <span><b>Hotel Palacio de las Nieves</b>
                  - Carretera de Pajomal, S/N, 33930</span>
              </div>
            </div>
          </div>
          <div class="slide-btn">
            <button>VER OFERTA</button>
          </div>
        </a>
      </div>
      <!--end-slide-->
      <!--slide-->
      <div class="slide more">
        <a href="#">
          <div class="slide-image">
            <img
              src="../assets/images/icon-mas-ofertas.svg"
              alt="icon more offers"
            />
          </div>
          <div class="slide-content">
            <div class="slide-txt">
              <p>VER MÁS OFERTAS</p>
            </div>
          </div>
        </a>
      </div>
      <!--end-slide-->
    </div>
    <!--controls-->
    <div id="glider-arrows-2" class="glider-arrows">
      <div id="prev-2" class="prev"></div>
      <div id="next-2" class="next"></div>
    </div>
    <!--end-controls-->
  </div>
</div>
