.btn {
    display: inline-block;
    padding: $spacing-2 $spacing-5;
    background: $ofer-green;
    color: white;
    font-weight: $font-weight-medium;
    line-height: 1;
    transition:
        background 0.3s,
        transform 0.3s;

    &:hover {
        background: $dark-green;
    }
}

.btn-forward {
    &:hover {
        transform: translateX($spacing-1);
    }
}
