// Importar la fuente regular de Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-regular.woff');
  font-weight: 400;
}

// Importar la fuente bold de Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-bold.woff');
  font-weight: 700;
}

