footer {
  background: $ofer-green;
  padding: $spacing-5;
  .footer-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-logos {
      img {
        width: 188px;
        height: auto;
        padding: 0 $spacing-3;
      }
    }
    .footer-links {
      ul {
        li {
          color: $white;
          display: inline-block;
          a {
            color: $white;
            padding: 0 $spacing-2;
            text-transform: uppercase;
            font-size: $font-size-sm;
            transition: 0.2s;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
