body {
  background-color: $lighter-green;
  main {
    width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    h1.titulo-portada,
    h1.titulo-listado {
      font-size: 1.75rem;
      text-align: center;
      padding: 0 $spacing-5;
    }
    h1.titulo-portada {
      margin-bottom: $spacing-5;
    }
    h1.titulo-listado {
      margin: $spacing-5 0 $spacing-3;
    }
  }
}
