header {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-2 64px;
  /*logo*/
  .header-logo {
    padding: $spacing-2 $spacing-3;
    img {
      width: 100%;
      max-width: 224px;
    }
  }
  /*search*/
  .header-search-desktop,
  .header-search-mobile {
    width: 60%;
    padding: $spacing-5 $spacing-8 $spacing-3 $spacing-5;
    input {
      width: 100%;
      padding: $spacing-2 $spacing-5;
      border: 1px solid $black;

      background-image: url("../images/lupa.svg");
      background-repeat: no-repeat;
      background-position: $spacing-1;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:not(:placeholder-shown) {
        + .clear-icon {
          visibility: visible;
        }
      }
    }
    .clear-icon {
      visibility: hidden;
      width: 16px;
      height: 16px;
      float: right;
      position: relative;
      bottom: $spacing-5;
      right: $spacing-2;
      cursor: pointer;
    }
  }
  .header-search-mobile {
    display: none;
    width: 100%;
    padding: $spacing-3 $spacing-8 $spacing-3 $spacing-5;
  }
  /*plus*/
  .header-plus {
    width: 20%;
    padding: $spacing-2 $spacing-3;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    .header-plus-img {
      width: $spacing-6;
      float: left;
    }
    .header-plus-txt {
      display: inline-grid;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
      label {
        margin-bottom: $spacing-1;
        line-height: $line-height-tight;
      }
      .header-plus-btn {
        width: 110px;
        margin-top: $spacing-1;
        background-color: $white;
        border: 1px solid $black;
        font-size: $font-size-xs;
        padding: $spacing-1 $spacing-3;

        cursor: pointer;
        a {
          color: $ofer-green;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
