header.index {
  padding: $spacing-2 0;
  margin-bottom: $spacing-5;
  overflow: hidden;
}
main.index {
  h2.title {
    display: block;
    font-size: $font-size-h1;
    font-weight: $font-weight-regular;
    margin-bottom: $spacing-5;
  }
  .index-item {
    width: 30%;
    height: 80px;
    display: inline-block;
    background: $ofer-green;
    margin: 0 $spacing-2 $spacing-2 0;
    a {
      color: $white;
      display: block;
      font-weight: $font-weight-bold;
      padding: $spacing-3 $spacing-3 $spacing-6;
    }
  }
}
