nav.main-nav {
    background-color: $ofer-green;
    ul.main-nav-ul {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0.8rem 24px;
        text-align: center;
        list-style-type: none;
        white-space: nowrap;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        li.main-nav-ul-li {
            display: inline;
            a {
                text-decoration: none;
                color: $white;
                font-weight: 700;
                font-size: 0.9em;
                transition: 0.2s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}
