.prefooter {
    background: linear-gradient(180deg, $dark-green 0%, $ofer-green 100%);
    padding: 0 $spacing-5;
    nav.prefooter-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: $spacing-5 $spacing-3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: unset;
        .prefooter-title {
            color: $ofer-green;
            font-size: $font-size-h3;
            display: inline-block;
        }
        .prefooter-list {
            .prefooter-list-item {
                display: inline-block;
                margin: $spacing-1 $spacing-2;
                a {
                    color: $white;
                    transition: 0.2s;
                    &:hover {
                        color: $ofer-green;
                    }
                }
            }
        }
    }
}
