main {
  .static-page {
    width: 800px;
    margin: 0 auto;
    padding: $spacing-5 $spacing-3;
    section {
      margin-bottom: $spacing-5;
    }
    h1 {
      font-size: 1.4rem;
      margin-bottom: $spacing-3;
      padding-bottom: $spacing-1;
      border-bottom: 1px solid $black;
    }
    h2 {
      font-size: 1.6rem;
      font-weight: $font-weight-regular;
      margin-bottom: $spacing-2;
    }
    h3 {
      margin-bottom: $spacing-2;
    }
    p {
      margin-bottom: $spacing-3;
      a {
        color: $dark-green;
      }
    }
    .tabulation {
      padding-left: $spacing-5;
    }
    .dot {
      color: $ofer-green;
      margin-right: $spacing-1;
    }
    ul {
      margin-bottom: $spacing-5;
      li {
        margin-bottom: $spacing-1;
      }
    }
  }
}
